.button,
.button:focus {
  width: 160px;
  height: 160px;
  font-size: 3rem;
  text-align: center;
  background-color: #4f5b5e;
  color: #55ecd1;
  padding: 20px;
  border: solid 5px #d8fef5;
  border-radius: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}
.button:hover {
  transform: scale(1.1);
}
